{
  "extends": "airbnb",
  "rules": {
    "import/newline-after-import": "off",
    "import/no-dynamic-require": "off",
    "global-require": "off",
    "no-console": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
